<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.dao.ILanguageDAO">
    <resultMap type = "com.solvd.bin.Languages" id = "LanguagesResultMap" autoMapping="false">
        <id column = "language_id" property = "id"/>
        <result column = "language_name" property = "name"/>
    </resultMap>

    <insert id="saveEntity" useGeneratedKeys="true" keyProperty="id">
        
    </insert>
    <update id = "updateEntity">
        
    </update>
    <delete id="deleteEntityById">
        
    </delete>
    <select id = "getEntityById" resultMap="LanguagesResultMap">
        select 
            id as language_id,
            name as language_name
        from language 
            where id = #{id}
    </select>

    <select id = "getLanguages" resultType="com.solvd.bin.Languages" resultMap="LanguagesResultMap">
        select 
            id as language_id,
            name as language_name
        from language;
    </select>
</mapper>